div(class='hidden-print', role='complementary')
    ul(class='nav ey-leftNav', data-spy='affix', data-offset-top='0', data-offset-bottom='0')
        each trip in trips
            li: a(href='/trips/' + trip.id) #{trip.name}
